.nav-pills>li.active>a{
    background-color: #000000;
    color: #ffffff ;
}

.nav-pills>li>a{
    color: #000000;
}

.nav-pills{
    margin-bottom: 10px;
}

.lista-adicionar,.lista-remover{
    background-color: #000000;
    border: #000000;
}

#genero{
    text-align: center;
}

.card{
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card-block {
    padding: 1rem;
}
.card-link:hover {
    text-decoration: none;
}
.card p {
    margin: 0;
}
img.card-img-top{
    height: 230px;
    width: 180px;
}